body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgreen;
}

h1 {
    flex: 1 0 100%;
    text-align: center;
    color: brown;
    font-size: 5rem;
    margin: 0px;
}

#game {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    background-image: url("./Grass.png") ;
    background-size: cover;
}